In [18]:
import pandas as pd
meta_data = pd.read_json("data/meta-North_Dakota.json", lines=True)
out_data = pd.read_json("data/out-North_Dakota.json", lines=True) 

out_data[:10]

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.024707e+20,Bryan Miller,1626317971375,5,Fast quick service. I go here almost all the t...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
1,1.022127e+20,Kurt Franke,1612038279541,5,Mike and crew do a great job. Dropped off veh...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
2,1.125204e+20,Amber Moller,1623440198128,5,Amazing love this place!,None,None,0x52d0147640d529bd:0xec9407dc9201780b
3,1.133982e+20,Ian Smith,1619722402903,5,Fair prices speedy work,None,None,0x52d0147640d529bd:0xec9407dc9201780b
4,1.160142e+20,Lilslayerplaez .W,1594748268627,5,Always in & out. Super professional and conve...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
5,1.157346e+20,Diane Walch,1615992587410,5,Cole is awesome .,None,None,0x52d0147640d529bd:0xec9407dc9201780b
6,1.123180e+20,Noah Harmon,1580780198670,5,"The customer service is great, very friendly ...",None,None,0x52d0147640d529bd:0xec9407dc9201780b
7,1.079554e+20,Darnell Lindsey,1590097106299,5,Excellent service! Family owned!,None,None,0x52d0147640d529bd:0xec9407dc9201780b
8,1.075731e+20,apex legends hero,1564265684986,5,Fast and very good service. Friendly staff who...,None,None,0x52d0147640d529bd:0xec9407dc9201780b
9,1.153601e+20,Scott Schwind,1584386009062,5,Work was satisfying.Rates were reasonable.Oil ...,None,None,0x52d0147640d529bd:0xec9407dc9201780b

In [35]:
# Drop columns for out_data
out_data = out_data.drop(['user_id', 'name', 'time', 'resp'], axis=1, errors="ignore")
out_data.to_csv("data/clean_out_data.csv")